.hero1 {
    height: 75vh;
    background-image: url(../../assets/img/DesarrolloWeb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  
    .text {
      background-color: #d8d6d65e;
      display: flex;
      height: 70%;
      width: 80%;
      border-radius: 30px;
      font-size: 1.3rem;
      padding: 20px;
      text-align: center;
      align-self: center;
      align-items: center;
  }